<nav>
    <ul class="nav flex-column">
        <li class="nav-item">
            {% if app.user %}
                <h2>{{app.user.username}}</h2>
                <a class="btn btn-info" href="{{ path("app_logout")}}">Logout</a>
                <a class="btn btn-info" href="{{ path('post_drafts') }}">Drafts</a>
            {% else %}
                <a class="btn btn-info" href="{{ path("app_login")}}">Login</a>
            {% endif %}
        </li>
        <h4>Top articles</h4>
        {{ render(controller(
            'App\\Controller\\PostController::topPosts',
            { 'limit': 3 }
        )) }}
        <h4>Last articles</h4>
        {{ render(controller(
            'App\\Controller\\PostController::lastPosts',
            { 'limit': 3 }
        )) }}
    </ul>
</nav>