{% extends 'base.html.twig' %}
{% block content %}
    <h2>{{ post.title }}</h2>
    <h6>Published on {{ post.createdAt.format('F j Y') }} -
        <a href="{{ path("user_show",{id:post.author.id,name:post.author.username})}}">{{  post.author }}</a>
    </h6>
    <p>
        {{ post.content | striptags | markdown_to_html }}
    </p>
    {{ render(controller(
        'App\\Controller\\CommentController::add'
    )) }}
    <h5>Last Comments</h5>
    {%for comment in post.comments %}
        <h6>
            <a href="{{ path("user_show",{id:comment.author.id,name:comment.author.username})}}">{{ comment.author }}</a>
        </h6>
        <p>{{ comment.content }}</p>
    {% endfor %}
{% endblock %}